:root {
    --primary-text-color: rgba(33, 33, 33, 1);
    --descr-color: rgba(117, 117, 117, 1);
    --secondary-color: rgba(33, 150, 243, 1);
    --primary-bgd-color: rgba(255, 255, 255, 1);
    --logo-header-color: rgba(0, 0, 0, 1);
    --bgd-hero-color: rgba(47, 48, 58, 1);
    --focus-btn-color: rgb(16, 137, 236);
    --bgd-team-color: rgba(245, 244, 250, 1);
    --contacts-footer-color: rgba(255, 255, 255, 0.6);

}

body {
    background-color: var(--primary-bgd-color);
    color: var(--primary-text-color);
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}
 
.link {
    text-decoration: none;
}

/* Логотип */
.logo {
    color: var(--secondary-color);
    font-family: 'Raleway', sans-serif;    
    font-size: 26px;
    line-height: 1.19;  
}

.logo .accent-studio-hd {
    color:var(--logo-header-color);
}

.logo .accent-studio-ft {
    color: var(--primary-bgd-color);
}

/* Навігація основної сторінки */
.site-nav .link, 
.site-contacts .link {
    color: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-contacts .link {
    color: var(--descr-color);
}

.site-nav .active {
    color: var(--secondary-color);
}

.site-nav .link:hover,
.site-contacts .link:hover,
.site-nav .link:focus,
.site-contacts .link:focus {
    color: var(--secondary-color);
}

/* Герой */
.hero {
    background-color: var(--bgd-hero-color);
    color: var(--primary-bgd-color);
    text-align: center;
    letter-spacing: 0.06em;  
}

.hero > .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
}

.hero > .main-btn {
    color: inherit;
    background-color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    font-weight: 700;
    font-family: inherit;
    font-style: inherit;
    letter-spacing: inherit;
}

.hero>.main-btn:hover {
    background-color: var(--focus-btn-color);
}

/* Основна частина 
Advantages */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.advantages .advantages-title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.advantages .advantages-descr {
    color: var(--descr-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;     
}

/* activity */
.activity > .activity-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/*team*/
.team {
    background-color: var(--bgd-team-color);
}

.team .information {
    background-color: var(--primary-bgd-color);
}
.team > .team-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.team .team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;  
}

.team .team-position {
    color: var(--descr-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
}

/* footer */ 
.page-footer {
    /* Додатково */
    background-color: var(--bgd-hero-color);
}

.contacts .link {
    color: var(--contacts-footer-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.contacts .location {
    color: var(--primary-bgd-color);
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--secondary-color);
}

/* Page Portfolio*/
.projects-filters button {
    color: inherit;
    background-color: var(--background-color-team);
    font-family: inherit;
    font-style: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    letter-spacing: inherit;
}

.projects-filters button:hover,
.projects-filters button:focus {
    background-color: var(--secondary-color);
    color: var(--primary-bgd-color);
}

.examples .examples-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.examples .examples-descr {
    color: var(--descr-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}
    
.examples-title > .upper {
    text-transform: uppercase;
}

